#navbar {
    background: #F00;
    height: 100px;
    border-bottom: #333;
    border-width: 0px 0px 1px 0px;
    
}
#myname {
    font-family: Georgia, serif
    color: #FFF;
    font-size: 18pt;
    float: left;
}
#links {
    float: right;

}
.pagelinks {
    float: left;

}