body {
    background: lightgray;
    padding: 0px;
    margin: 0px;
}
#navbar {
    background: white;
    border-bottom: gray;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    overflow: auto;
}
#navbarcontent {
    width: 960px;
    margin: auto;
}
#myname {
    font-family: Georgia, serif;
    color: white;
    background: teal;
    font-size: 24pt;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: middle;
}
#links {
    float: right;
    overflow: auto;
    margin-top: 30px;

}
.pagelink {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;  
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: lightgray;
    padding: 0px 5px;
}
.pagelink:first-child, .pagelink:last-child{
    border-width: 0px;
}